@model tutorialAsp.NetCore.Data.Models.ViewModel.AccountManage.ChangePasswordViewModel

@{
    ViewData["Title"] = "Изменить пароль";
}

<h2>Изменение пароля</h2>

<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label">Нынешний пароль</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Новый пароль</label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Подтвердите новый пароль</label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Изменить пароль</button>
</form>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
